
<h2> <%=@gossip.title%> </h2>
<p> <em>"<%=@gossip.content%>" </em> </p>
<%autor = @gossip.user.first_name + " " + @gossip.user.last_name%>
<p> <strong>L'auteur :</strong> <%= link_to autor, user_path(@gossip.user.id) %></p>
